<h2 class="fr-sr-only">Conseillers</h2>
<div class="fr-display--flex">
  <img width="35" class="fr-px-1v" src="/assets/map/pin-cnfs.svg" alt="" />
  <div>
    <div class="fr-ml-3v">
      {{ cnfsList.length }}
      {{ cnfsList.length === 1 ? 'conseiller numérique' : 'conseillers numériques' }}
    </div>
    <a class="fr-link" href="https://cdn.conseiller-numerique.gouv.fr/presentation-conseiller-numerique.pdf" target="_blank">
      Que peuvent-ils faire pour moi&nbsp;?
    </a>
  </div>
</div>
