////
/// Core Setting : Color shadow
/// @group core
////

$shadows-settings: (
  sm: (
    0 1px 4px 0 rgb(0 0 0 / 23%),
    0 2px 0 -2px rgb(0 0 0 / 16%),
    0 1px 1px 0 rgb(0 0 0 / 16%)
  ),
  md: (
    0 8px 8px 0 rgb(0 0 0 / 10%),
    0 8px 16px -16px rgb(0 0 0 / 32%)
  ),
  up: (
    0 0 8px 0 rgb(0 0 0 / 10%),
    0 -8px 16px -16px rgb(0 0 0 / 32%)
  ),
  right: (
    8px 0 8px 0 rgb(0 0 0 / 10%),
    0 8px 16px -16px rgb(0 0 0 / 32%)
  )
);
