////
/// Core Setting : Icon
/// @group core
////

$icons-settings: (
  time-line: (
    codepoint: '\f20f'
  ),
  map-pin-line: (
    codepoint: '\ef14'
  ),
  phone-line: (
    codepoint: '\efec'
  ),
  global-line: (
    codepoint: '\edcf'
  )
);
