<ng-template #headerLinks>
  <ul class="fr-links-group">
    <li>
      <a
        class="fr-link fr-fi-question-line fr-link--icon-left"
        href="https://aide.conseiller-numerique.gouv.fr/fr/"
        target="_blank"
        rel="noreferrer noopener">
        J'ai une question
      </a>
    </li>
  </ul>
</ng-template>
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a href="https://conseiller-numerique.gouv.fr/" title="Accueil - Conseiller numérique France services">
                <p class="fr-logo">
                  République
                  <br />
                  Française
                </p>
              </a>
            </div>
            <div class="fr-header__operator">
              <img src="/assets/brand/logo-rf-conseiller-numerique.svg" class="fr-responsive-img" alt="" />
            </div>
            <div class="fr-header__navbar">
              <button
                (click)="isOpen = true"
                class="fr-btn--menu fr-btn"
                aria-controls="modal-menu-mobile"
                aria-haspopup="menu"
                title="Menu"
                id="fr-btn-menu-mobile">
                Menu
              </button>
            </div>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ng-container *ngTemplateOutlet="headerLinks"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fr-header__menu fr-modal"
    [ngClass]="{ 'fr-modal--opened': isOpen }"
    id="modal-menu-mobile"
    role="dialog"
    aria-labelledby="fr-btn-menu-mobile"
    [attr.aria-modal]="isOpen ? true : null">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-menu-mobile" (click)="isOpen = false">Fermer</button>
      <div class="fr-header__menu-links">
        <ng-container *ngTemplateOutlet="headerLinks"></ng-container>
      </div>
      <nav class="fr-nav" id="navigation-menu-principal" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            <app-menu label="Accueil">
              <ul class="fr-menu__list">
                <li>
                  <a class="fr-nav__link" href="https://conseiller-numerique.gouv.fr/accueil/#ancre-themes">
                    &bull;&nbsp;À propos des conseillers numériques
                  </a>
                </li>
                <li>
                  <a class="fr-nav__link" href="https://conseiller-numerique.gouv.fr/accueil/#ancre-statistiques">
                    &bull;&nbsp;Le dispositif en chiffres
                  </a>
                </li>
              </ul>
            </app-menu>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" href="#" target="_self" aria-current="page">Carte</a>
          </li>
          <li class="fr-nav__item">
            <app-menu label="Recrutement">
              <ul class="fr-menu__list">
                <li>
                  <a class="fr-nav__link" href="https://conseiller-numerique.gouv.fr/aide-candidat" target="_self">
                    &bull;&nbsp;Devenir conseiller numérique
                  </a>
                </li>
                <li>
                  <a class="fr-nav__link" href="https://conseiller-numerique.gouv.fr/aide-structure" target="_self">
                    &bull;&nbsp;Recruter un conseiller numérique
                  </a>
                </li>
              </ul>
            </app-menu>
          </li>
          <li class="fr-nav__item">
            <app-menu label="Mon compte">
              <ul class="fr-menu__list">
                <li>
                  <a
                    class="fr-nav__link"
                    href="https://coop.conseiller-numerique.gouv.fr/login"
                    target="_blank"
                    rel="noopener noreferrer">
                    &bull;&nbsp;Espace coop
                  </a>
                </li>
                <li>
                  <a
                    class="fr-nav__link"
                    href="https://candidat.conseiller-numerique.gouv.fr/login"
                    target="_blank"
                    rel="noopener noreferrer">
                    &bull;&nbsp;Espace candidat
                  </a>
                </li>
                <li>
                  <a
                    class="fr-nav__link"
                    href="https://admin.conseiller-numerique.gouv.fr/login?role=structure"
                    target="_blank"
                    rel="noopener noreferrer">
                    &bull;&nbsp;Espace structure
                  </a>
                </li>
                <li>
                  <a
                    class="fr-nav__link"
                    href="https://admin.conseiller-numerique.gouv.fr/login?role=prefet"
                    target="_blank"
                    rel="noopener noreferrer">
                    &bull;&nbsp;Espace préfecture
                  </a>
                </li>
              </ul>
            </app-menu>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
