<ng-template #headerLinks>
  <ul class="fr-links-group">
    <li>
      <a
        class="fr-link fr-fi-question-line fr-link--icon-left"
        href="https://aide.conseiller-numerique.gouv.fr/fr/"
        target="_blank"
        rel="noreferrer noopener">
        J'ai une question
      </a>
    </li>
  </ul>
</ng-template>
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a href="https://conseiller-numerique.gouv.fr/" title="Accueil - Conseiller numérique France services">
                <p class="fr-logo">
                  République
                  <br />
                  Française
                </p>
              </a>
            </div>
            <div class="fr-header__operator">
              <img src="/assets/brand/logo-rf-conseiller-numerique.svg" class="fr-responsive-img" alt="" />
            </div>
            <div class="fr-header__navbar">
              <button
                (click)="isOpen = true"
                class="fr-btn--menu fr-btn"
                aria-controls="modal-menu-mobile"
                aria-haspopup="menu"
                title="Menu"
                id="fr-btn-menu-mobile">
                Menu
              </button>
            </div>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ng-container *ngTemplateOutlet="headerLinks"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fr-header__menu fr-modal"
    [ngClass]="{ 'fr-modal--opened': isOpen }"
    id="modal-menu-mobile"
    role="dialog"
    aria-labelledby="fr-btn-menu-mobile"
    [attr.aria-modal]="isOpen ? true : null">
    <div class="fr-container">
      <button class="fr-link--close fr-link" aria-controls="modal-menu-mobile" (click)="isOpen = false">Fermer</button>
      <div class="fr-header__menu-links">
        <ng-container *ngTemplateOutlet="headerLinks"></ng-container>
      </div>
    </div>
  </div>
</header>
