<!-- TODO REVIEW IGNORE -->
<div style="width: 100%; height: 100%" class="todo-alt-2">
  <div>Nombre de marqueurs présents visibles : {{ listConseillers.length }}</div>
  <div *ngIf="listConseillers.length > 0">
    <!-- TODO REMOVE -->
    <!-- eslint-disable -->
    <div class="item" *ngFor="let conseiller of listConseillers; index as i">
      {{ conseiller.properties | json }}
    </div>
  </div>
  <div *ngIf="listConseillers.length == 0">
    <pre>
      Cette cartographie vous permet de localiser les permanences
      des conseillers numériques France Service de cotre territoire.
    </pre>

    <pre>
      Autorisez la géolocalisation pour positionner la carte là où
    vous vous trouvez, tapez une adresse, une ville, ou un code
    postal dans le champ de recherche afin de visualiser les
    permanences de conseillers numériques les plus proches
    </pre>
  </div>
</div>
