<!-- TODO REVIEW IGNORE -->
<div *ngIf="listConseillers.length > 0">
  <!-- TODO REMOVE -->
  <!-- eslint-disable -->
  <div *ngFor="let conseiller of listConseillers; index as i">
    {{ conseiller.properties | json }}
  </div>
</div>
<div class="fr-p-3w" *ngIf="listConseillers.length === 0">
  <p class="fr-text--bold">
    Cette cartographie vous permet de localiser les permanences des conseillers numériques France Service de votre territoire.
  </p>
  <p>
    Autorisez la géolocalisation pour positionner la carte là où vous vous trouvez, tapez une adresse, une ville, ou un code
    postal dans le champ de recherche afin de visualiser les permanences de conseillers numériques les plus proches.
  </p>
</div>
