<div class="fr-display--flex fr-full-container--height">
  <div class="fr-display--flex fr-displayed-xl fr-hidden-lg fr-displayed-md fr-flex-direction--column fr-ml-3w fr-mb-3w">
    <div class="fr-flex--1">
      <a [routerLink]="['/', structureId]" class="fr-link fr-fi-arrow-left-line fr-link--icon-left fr-my-2w">
        Revenir à la liste
      </a>
    </div>
    <div>
      <h2 class="fr-text--md fr-text--regular fr-mb-1w">Contacter la structure</h2>
      <cnfs-details-contact size="sm" emailLabel="Courriel" [email]="email" [phone]="phone" [website]="website">
        Les informations de contact
        <br />
        de cette structure ne sont
        <br />
        pas disponibles
      </cnfs-details-contact>
      <button (click)="print.emit()" class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-printer-fill fr-btn--icon-left">
        Imprimer
      </button>
    </div>
  </div>
  <div class="fr-printable fr-printable__only">
    <h1 class="fr-h3 fr-text-default--grey">{{ structureName }}</h1>
    <cnfs-details-contact size="sm" emailLabel="Courriel" [email]="email" [phone]="phone" [website]="website">
      Les informations de contact de cette structure ne sont pas disponibles
    </cnfs-details-contact>
    <div class="fr-grid-row">
      <div class="fr-col-6">
        <permanence-access [access]="access"></permanence-access>
        <permanence-address [address]="address" [distance]="distance"></permanence-address>
      </div>
      <div class="fr-col-6">
        <permanence-opening-hours [opening]="opening"></permanence-opening-hours>
      </div>
    </div>
    <permanence-cnfs-list [cnfsList]="cnfsList"></permanence-cnfs-list>
  </div>
  <div class="fr-flex--1 fr-overflow--auto">
    <div class="fr-m-3w">
      <a
        [routerLink]="['/', structureId]"
        class="fr-link fr-fi-arrow-left-line fr-link--icon-left fr-mb-2w fr-hidden-xl fr-display--inline-block-lg fr-display--none-md">
        Revenir à la liste
      </a>
      <h1 class="fr-h3 fr-text-default--grey">{{ structureName }}</h1>
      <div class="fr-mb-3w fr-hidden-xl fr-display--block-lg fr-display--none-md">
        <cnfs-details-contact size="sm" emailLabel="Courriel" [email]="email" [phone]="phone" [website]="website">
          Les informations de contact de cette structure ne sont pas disponibles
        </cnfs-details-contact>
        <button (click)="print.emit()" class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-printer-fill fr-btn--icon-left">
          Imprimer
        </button>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-xl-6 fr-col-lg-12 fr-col-md-6 fr-col-12">
          <permanence-access [access]="access"></permanence-access>
          <permanence-address [address]="address" [distance]="distance"></permanence-address>
        </div>
        <div class="fr-col-xl-6 fr-col-lg-12 fr-col-md-6 fr-col-12">
          <permanence-opening-hours [opening]="opening"></permanence-opening-hours>
        </div>
      </div>
      <hr />
      <permanence-cnfs-info [cnfsList]="cnfsList"></permanence-cnfs-info>
    </div>
    <permanence-cnfs-list [cnfsList]="cnfsList"></permanence-cnfs-list>
  </div>
</div>
