<button (click)="backToList.emit()" class="fr-link fr-fi-arrow-left-line fr-link--icon-left fr-my-2w">
  Revenir à la liste
</button>

<ng-container *ngIf="cnfsDetails; else loading">
  <h1 class="fr-h3">{{ cnfsDetails.structureName }}</h1>

  <div class="fr-grid-row fr-mb-3w">
    <div class="fr-col-xl-6 fr-col-lg-12 fr-col-md-6 fr-col-12">
      <h2 class="fr-sr-only">Adresse</h2>
      <p *ngIf="cnfsDetails.address" class="fr-text--bold">
        <span class="fr-fi-app fr-fi-map-pin-line" aria-hidden="true"></span>
        {{ cnfsDetails.address }}
      </p>
      <small *ngIf="cnfsDetails.cnfsTypeNote">{{ cnfsDetails.cnfsTypeNote }}</small>
    </div>
    <div class="fr-col-xl-6 fr-col-lg-12 fr-col-md-6 fr-col-12">
      <h2 class="fr-sr-only">Conseillers</h2>
      <div class="fr-display--flex">
        <img width="35" class="fr-px-1v" src="/assets/map/pin-cnfs.svg" alt="" />
        <div>
          <div class="fr-text--bold fr-ml-3v">
            {{ cnfsDetails.cnfsNumber }}
            {{ cnfsDetails.cnfsNumber === 1 ? 'conseiller numérique' : 'conseillers numériques' }}
          </div>
          <a
            class="fr-link"
            href="https://cdn.conseiller-numerique.gouv.fr/presentation-conseiller-numerique.pdf"
            target="_blank">
            Que peuvent-ils faire pour moi&nbsp;?
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="fr-grid-row fr-mb-3w">
    <div class="fr-col-xl-6 fr-col-lg-12 fr-col-md-6 fr-col-12">
      <h2 class="fr-text--md">
        <span class="fr-fi-app fr-fi-time-line" aria-hidden="true"></span>
        Horaires
      </h2>
      <table class="fr-full-container--width fr-mb-2w" *ngIf="cnfsDetails.opening.length > 0; else noOpeningHours">
        <tr *ngFor="let opening of cnfsDetails.opening; index as i; trackBy: trackByOpeningDay">
          <td>{{ opening.day }}</td>
          <td>{{ opening.hours }}</td>
        </tr>
      </table>
      <ng-template #noOpeningHours>
        <p>Aucun horaire disponible pour cette structure</p>
      </ng-template>
    </div>
    <div class="fr-col-xl-6 fr-col-lg-12 fr-col-md-6 fr-col-12">
      <h2 class="fr-sr-only">Informations de contact</h2>
      <cnfs-details-contact
        [email]="cnfsDetails.email"
        [phone]="cnfsDetails.phone"
        [website]="cnfsDetails.website"></cnfs-details-contact>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <p>Chargement...</p>
</ng-template>
