////
/// Dropdown Module
/// @group dropdown
////

#{ns(collapse-v)} {
  overflow: hidden;

  &--content {
    transform: translateY(-100%);
    transition: 0.3s ease;
  }

  &--content-expanded {
    transform: translateY(0%);
    margin-top: 0 !important;
  }
}
