////
/// Core Settings : flex properties
/// @group core
////

$flexProperties: (
  flex-wrap: (
    wrap,
    nowrap,
    wrap-reverse
  ),
  align-items: (
    start,
    end,
    center,
    baseline,
    stretch
  ),
  justify-content: (
    start,
    end,
    center,
    space-around,
    space-between,
    space-evenly
  ),
  flex: (
    auto,
    1,
    initial,
    none
  ),
  flex-direction: (
    row,
    row-reverse,
    column,
    column-reverse
  )
) !default;
