<div class="fr-grid-row">
  <div class="fr-col-4">
    <div class="fr-grid-row todo-alt-1" style="height: 15vw">
      <address-geolocation
        (usagerAutolocate)="autolocateUsagerRequest($event)"
        (addressToGeocode)="geocodeUsagerRequest($event)"></address-geolocation>
    </div>
    <div class="fr-grid-row todo" style="width: 100%; height: 45vw">
      <!-- TODO Créer à partir des infos de l'api listConseillers$ | async-->
      <cnfs-list [listConseillers]="[]"></cnfs-list>
    </div>
  </div>
  <!--todo: fix calc-->
  <div class="fr-col-8" style="height: calc(100vh - 173px)">
    <ng-container *ngIf="visibleMarkers$ | async as visibleMarkers">
      <leaflet-map
        [mapOptions]="cartographyConfiguration"
        [centerView]="centerView"
        [markers]="visibleMarkers | addUsagerMarker:(usagerCoordinates$ | async)"
        (markerChange)="onMarkerChanged($event)"
        (stateChange)="mapViewChanged($event)"></leaflet-map>
    </ng-container>
  </div>
</div>

<!--todo: fix footer overlapping map-->
<div style="height: 2px"></div>
