<div class="fr-grid-row fr-flex-wrap--nowrap fr-full-container--height fr-overflow--hidden">
  <div
    [ngClass]="{
    'fr-col-xl-8 fr-col-lg-7 fr-overflow--auto': displayDetailsStructureId,
    'fr-col-xl-4 fr-col-lg-5': !displayDetailsStructureId,
    'fr-displayed-lg': displayMap,
    'fr-col-12': !displayMap
  }"
    class="fr-display--flex fr-flex-direction--column fr-index--over fr-shadow--right fr-full-container--width">
    <cnfs-details
      class="fr-px-3w"
      *ngIf="displayDetailsStructureId; else: displayCnfsList"
      [cnfsDetails]="cnfsDetails$ | async"
      (backToList)="hideCnfsDetails()"></cnfs-details>
    <ng-template #displayCnfsList>
      <address-geolocation
        [addressSuggestions]="(addressesFound$ | async) ?? []"
        [geocodeAddressError]="(geocodeAddressError$ | async) ?? false"
        (usagerAutolocate)="onAutoLocateUsagerRequest($event)"
        (addressToGeocode)="onGeocodeUsagerRequest($event)"
        (searchAddress)="onSearchAddress($event)"></address-geolocation>
      <ng-container *ngIf="structuresList$ | async as structuresList">
        <small class="fr-px-3w fr-background-contrast--blue-cumulus" *ngIf="structuresList.length > 0">
          {{ structuresList.length }} structures trouvées
        </small>
        <cnfs-list
          class="fr-px-3w fr-overflow--auto"
          [structuresList]="structuresList"
          [highlightedStructureId]="highlightedStructureId$ | async"
          (displayDetails)="displayCnfsDetails($event)"></cnfs-list>
      </ng-container>
    </ng-template>
  </div>
  <div [ngClass]="displayDetailsStructureId ? 'fr-col-xl-4 fr-col-lg-5' : 'fr-col-xl-8 fr-col-lg-7'" class="fr-col-12">
    <ng-container *ngIf="centerView$ | async as centerView">
      <permanence-map
        [centerView]="centerView"
        [cnfsRegionMarkers]="regionMarkers$ | async"
        [cnfsDepartementMarkers]="departementMarkers$ | async"
        [cnfsPermanenceMarkers]="permanenceMarkers$ | async"
        [usagerMarker]="usagerMarker$ | async"
        [highlightedStructureId]="highlightedStructureId$ | async"
        (cnfsRegionMarkerChange)="onCnfsLocalityMarkerChange($event)"
        (cnfsDepartementMarkerChange)="onCnfsLocalityMarkerChange($event)"
        (cnfsPermanenceMarkerChange)="onCnfsPermanenceMarkerChange($event)"
        (displayDetails)="displayCnfsDetails($event); switchMapList.toggle()"
        (stateChange)="onMapViewChanged($event)"
        (zoomOut)="onZoomOut()"></permanence-map>
    </ng-container>
  </div>
</div>
<div class="fr-position--absolute fr-bottom-0 fr-full-container--width fr-index--focus">
  <switch-map-list #switchMapList (switchMapList)="onDisplayMap($event)"></switch-map-list>
  <incomplete-data-notice
    [displayDetailsStructureId]="displayDetailsStructureId"
    [displayMap]="displayMap"></incomplete-data-notice>
</div>
