<div *ngIf="phone">
  <a
    [class.fr-link--sm]="size === 'sm'"
    [ngClass]="{ 'fr-fi-app fr-fi-phone-fill fr-link--icon-left': icons }"
    class="fr-link"
    [href]="'tel://' + phone">
    {{ phone }}
  </a>
</div>
<div *ngIf="email">
  <a
    [class.fr-link--sm]="size === 'sm'"
    [ngClass]="{ 'fr-fi-mail-line fr-link--icon-left': icons }"
    class="fr-link"
    [href]="'mailto:' + email">
    {{ emailLabel ?? email }}
  </a>
</div>
<div *ngIf="website">
  <a
    [class.fr-link--sm]="size === 'sm'"
    [ngClass]="{ 'fr-fi-app fr-fi-link fr-link--icon-left': icons }"
    class="fr-link"
    [href]="website"
    target="_blank"
    rel="noopener noreferrer">
    {{ websiteLabel ?? website }}
  </a>
</div>
<div class="fr-text--sm" *ngIf="!email && !phone && !website">
  <ng-content></ng-content>
</div>
