////
/// Core Tools : Global column-count
/// @group core
////

@mixin build-column-count() {
  $from: map-get($column-count-settings, from);
  $through: map-get($column-count-settings, through);
  $column-count-vars: map-get($display-vars, column-count);
  $buildBreakpoints: map-get($column-count-vars, breakpoints);
  $breakpointsList: if($buildBreakpoints == all, $breakpoints, $buildBreakpoints);

  @if ($column-count-vars != false and map-get($column-count-vars, active) != false) {
    @for $i from $from through $through {
      @include _build-column-variations($i, $breakpointsList);
    }
  }
}

@mixin _build-column-variations($value: 1, $breakpointsList: null) {
  #{ns(column-count)}-#{$value} {
    column-count: $value !important;
  }

  @if ($breakpointsList != false) {
    @each $bp, $limit in $breakpointsList {
      @include respond-from($bp) {
        #{ns(column-count)}-#{$value}-#{$bp} {
          column-count: $value !important;
        }
      }
    }
  }
}
