////
/// Core Tool : Color gradient
/// @group core
////

@use 'sass:map';

@mixin build-gradient() {
  $gradient-vars: map.get($color-vars, gradient);

  @if $gradient-vars != false and map.get($gradient-vars, active) != false {
    @each $key, $value in $gradient-settings {
      #{ns(gradient)}--#{$key} {
        background: map.get($value, stop);
        background: linear-gradient(0deg, map.get($value, stop) 0%, map.get($value, start) 33%, map.get($value, start) 100%);
      }
    }
  }
}
