////
/// Core Function : string
/// @group core
////

@use 'sass:string';
@use 'sass:list';

/// Fonction de transformation d'une string en nombre intégral
/// @access public
/// @param {String} $value - le nombre en chaîne de caractères
@function str-to-num($value) {
  $length: string.length($value);
  $int: ();
  $float: ();
  $floating: false;
  $neg: false;

  @for $i from 1 through $length {
    $n: string.slice($value, $i, $i);

    @if $n == '.' {
      $floating: true;
    } @else if $n == '-' {
      $neg: true;
    } @else {
      @for $d from 0 through 9 {
        @if quote('#{$d}') == $n {
          @if $floating {
            $float: list.append($float, $d);
          } @else {
            $int: list.append($int, $d);
          }
        }
      }
    }
  }

  $result: 0;
  $length: list.length($int);

  @if $length > 0 {
    @for $i from 1 through $length {
      $result: $result + (list.nth($int, $i) * _pow10($length - $i));
    }
  }

  $length: list.length($float);

  @if $length > 0 {
    @for $i from 1 through $length {
      $result: $result + (list.nth($float, $i) / _pow10($i));
    }
  }

  @if $neg {
    @return -$result;
  } @else {
    @return $result;
  }
}
