////
/// Core Variables
/// Les utilitaires des cores sont paramétrables ici, ces variables reprennent celles des settings de chaque utilitaire sans le '!default' à la fin.
/// De cette façon les utilitaires générés peuvent être modifiés ici au besoin (en reprenant la même structure de données) ou retirés en les passant à 'false'
/// @group core
////

/* stylelint-disable indentation */
$variables: (
  color: (
    gradient: (
      active: true
    ),
    shadow: (
      active: true
    )
  ),
  display: (
    column-count: (
      active: true,
      breakpoints: sm md lg
    ),
    display: (
      active: true,
      breakpoints: sm md lg
    ),
    position: (
      active: true,
      breakpoints: sm md lg
    ),
    position-values: (
      active: true,
      special: 0
        (
          half: 50%
        )
        (
          full: 100%
        )
        auto,
      breakpoints: sm md lg
    ),
    position-alignments: (
      active: true,
      values: (
        x: (
          center: -50%
        ),
        y: (
          center: -50%
        )
      ),
      breakpoints: sm md lg
    ),
    flex-properties: (
      active: true,
      breakpoints: sm md lg
    ),
    overflow: (
      active: true
    ),
    size: (
      active: true
    ),
    white-space: (
      active: true
    ),
    z-index: (
      active: true
    )
  )
) !default;
/* stylelint-enable indentation */
