/* You can add global styles to this file, and also import other style files */
.todo {
  border: 3px dashed #fad34a;
}

.todo-alt-1 {
  border: 3px dashed #4adafa;
}

.todo-alt-2 {
  border: 3px dashed #b94afa;
}

.item {
  padding: 1px;
  border: 1px dashed #4a73fa;
}
