<!--eslint-disable @angular-eslint/template/cyclomatic-complexity-->

<leaflet-map [centerView]="centerView" (stateChange)="onStateChanged($event)" (zoomOut)="onZoomOut()">
  <ng-container *ngIf="regionMarkers$ | async as cnfsRegionMarkers">
    <leaflet-map-marker
      *ngFor="let regionMarkerFeature of cnfsRegionMarkers.features; trackBy: trackByRegionName"
      [latitude]="regionMarkerFeature.geometry.coordinates[1]"
      [longitude]="regionMarkerFeature.geometry.coordinates[0]"
      [properties]="regionMarkerFeature.properties"
      markerFactoryKey="cnfsByRegion"
      (markerClick)="onLocationClick($event)"></leaflet-map-marker>
  </ng-container>
  <ng-container *ngIf="departementMarkers$ | async as cnfsDepartementMarkers">
    <leaflet-map-marker
      *ngFor="let departementMarkersFeature of cnfsDepartementMarkers.features; trackBy: trackByDepartementName"
      [latitude]="departementMarkersFeature.geometry.coordinates[1]"
      [longitude]="departementMarkersFeature.geometry.coordinates[0]"
      [properties]="departementMarkersFeature.properties"
      markerFactoryKey="cnfsByDepartment"
      (markerClick)="onLocationClick($event)"></leaflet-map-marker>
  </ng-container>
  <ng-container *ngIf="permanenceMarkers$ | async as cnfsPermanenceMarkers">
    <leaflet-map-marker
      *ngFor="let permanenceMarkersFeature of cnfsPermanenceMarkers.features; trackBy: trackByPermanenceId"
      [latitude]="permanenceMarkersFeature.geometry.coordinates[1]"
      [longitude]="permanenceMarkersFeature.geometry.coordinates[0]"
      [properties]="permanenceMarkersFeature.properties"
      [highlight]="highlightedStructure?.id === permanenceMarkersFeature.properties.id ? highlightedStructure?.type : undefined"
      markerFactoryKey="cnfsPermanence"
      (markerClick)="onPermanenceClick($event)"
      (markerEnter)="onPermanenceEnter($event)"
      (markerLeave)="onPermanenceLeave()">
      <leaflet-map-tooltip [content]="popupContent">
        <div #popupContent class="fr-text-align--center">
          <div class="fr-mb-1v">
            <b>{{ permanenceMarkersFeature.properties.name }}</b>
          </div>
        </div>
      </leaflet-map-tooltip>
    </leaflet-map-marker>
  </ng-container>
  <ng-container *ngIf="usagerMarker">
    <leaflet-map-marker
      [latitude]="usagerMarker.geometry.coordinates[1]"
      [longitude]="usagerMarker.geometry.coordinates[0]"
      markerFactoryKey="usager"></leaflet-map-marker>
  </ng-container>
</leaflet-map>
