<div class="fr-p-3w fr-gradient--blue">
  <form (submit)="geocode()" [formGroup]="searchForm">
    <label
      [class.fr-sr-only]="size === 'small'"
      class="fr-label fr-text-inverted--blue-france fr-text--bold fr-mb-1w"
      for="address">
      Entrez un code postal, une ville, une adresse&nbsp;:
    </label>
    <div [class.fr-search-bar--lg]="size === 'large'" class="fr-search-bar" role="search">
      <div class="fr-dropdown">
        <input
          #addressInput
          formControlName="address"
          class="fr-input"
          placeholder="Code postal, ville, adresse"
          type="search"
          id="address"
          name="address"
          autocomplete="off"
          aria-haspopup="true"
          [attr.aria-describedby]="geocodeAddressError ? 'address-desc-error' : null"
          [attr.aria-expanded]="dropdownPane.expanded$ | async"
          (input)="search(addressInput.value); addressInput.value.length <= 3 ? dropdownPane.reduce() : dropdownPane.expand()"
          (focus)="addressInput.value.length <= 3 ? dropdownPane.reduce() : dropdownPane.expand()"
          (keyup.escape)="dropdownPane.reduce()" />
        <div
          #dropdownPane="dropdownPane"
          [dropdownControl]="addressInput"
          class="fr-dropdown__pane fr-position--absolute"
          aria-labelledby="address"
          appDropdownPane>
          <div class="fr-list-group">
            <button
              *ngFor="let address of addressSuggestions; index as addressIndex; trackBy: trackByAddressName"
              type="button"
              class="fr-list-group__item fr-list-group__item--action"
              [class.fr-list-group__item--active]="dropdownPane.activeIndex === addressIndex"
              [attr.aria-current]="dropdownPane.activeIndex === addressIndex ? true : null"
              (focusin)="dropdownPane.setIndex(addressIndex); setAddressSuggestion(address.label)"
              (focusout)="dropdownPane.setIndex(-1)"
              (click)="setAddressSuggestion(address.label); dropdownPane.reduce()">
              <b>{{ address.label }}</b>
              <br />
              <small>{{ address.context }}</small>
            </button>
          </div>
        </div>
      </div>
      <button class="fr-btn">Rechercher</button>
    </div>
    <div class="fr-collapse-v">
      <div class="fr-collapse-v--content" [class.fr-collapse-v--content-expanded]="geocodeAddressError">
        <div class="fr-alert fr-alert--warning fr-alert--sm fr-text fr-background-elevated--grey">
          <p class="fr-text--sm" id="address-desc-error">Nous n'avons pas trouvé de localisation pour cette adresse.</p>
        </div>
      </div>
    </div>
  </form>
  <button (click)="locate()" class="fr-btn fr-btn--sm fr-btn--icon-left fr-mt-1w">Me localiser automatiquement</button>
</div>
